<template name="approval">
  <p> John has opted for the interview process. Kindly suggest the competency to begin with and approve the same.</p>
  <form class="form-horizontal">
    <fieldset>
      <!-- Multiple Checkboxes -->
      <div class="form-group">
          <label class="col-md-4 control-label" for="ecompetency">Competency</label>

          <div class="col-md-4">
              <div class="checkbox">
                  <label for="ecompetency-0">
                      <input type="checkbox" name="ecompetency" id="ecompetency-0" value="UICO101">
                      PS, DSA and Coding
                  </label>
              </div>
              <div class="checkbox">
                  <label for="ecompetency-1">
                      <input type="checkbox" name="ecompetency" id="ecompetency-1" value="UICO102">
                      UI Tech
                  </label>
              </div>
          </div>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
          <label class="col-md-4 control-label" for="goodtogo"></label>

          <div class="col-md-8">
              <button id="goodtogo" name="edit" class="btn btn-primary btn-medium">Good to go</button>
              <button id="later" name="detail" class="btn btn-default btn-medium">Later</button>
          </div>
      </div>

    </fieldset>
  </form>
</template>
