<template name="dashboard">
  <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Overall Team Status</h4>

                    <table class="table">
                          <thead>
                              <tr>
                                  <th>Teams</th>
                                  <th>Shadow 1</th>
                                  <th>Shadow 2</th>
                                  <th title="Reverse Shadow 1">R Shadow 1</th>
                                  <th title="Reverse Shadow 2">R Shadow 2</th>
                                  <th>Independent</th>
                                  <th>HM</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>SP</td>
                                  <td>2</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                              </tr>
                              <tr>
                                  <td>CP</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>1</td>
                                  <td>5</td>
                                  <td>1</td>
                                  <td>1</td>
                              </tr>
                              <tr>
                                  <td>RP</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>5</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>2</td>
                              </tr>
                          </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</template>
