<template name="guidelines">
  <div class="container">
    <h3>Video Guidelines</h3>
    <ul>
      <li><p>Flipkart Carreers and interview process</p>
        <iframe width="640" height="360" src="//www.youtube.com/embed/32GOQxaI5yY?rel=0" frameborder="0" allowfullscreen></iframe>
      </li>
      <li><a href="">Link 2</a></li>
      <li><a href="">Link 3</a></li>
    </ul>
    <h3>Links to download documents</h3>
    <ul>
      <li><a href="">link 1</a></li>
      <li><a href="">link 2</a></li>
      <li><a href="">link 3</a></li>
    </ul>
    <h3>FAQs</h3>
    <ul class="faqs">
      <li><div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle" href="#collapseOne">What is a shadow?</a>
              </h4>
          </div>
          <div class="panel-collapse collapse in">
                <div class="panel-body">
                    Lorem Ipsum
                </div>
            </div></li>
        <li class="last">
          <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" href="#collapseOne">What is a reverse shadow?</a>
                </h4>
            </div>
            <div class="panel-collapse collapse in">
                  <div class="panel-body">
                    Lorem Ipsum
                  </div>
              </div>
        </li>
    </ul>
  </div>
</template>
