<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Recruiter</a>

        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="">
                    <a href="/profile">Profile</a>
                </li>
                <li class="">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="">
                    <a href="/nominate">Nominate</a>
                </li>
                <li class="">
                    <a href="/guidelines">Guidelines</a>
                </li>

            </ul>
        </div>
    </div>
</header>
</template>
