<template name="reports">
  <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Reports</h4>
                    <form class="form-horizontal">
                        <fieldset>

                        <!-- Select Basic -->
                        <div class="control-group">
                          <label class="control-label" for="team">Team</label>
                          <div class="controls">
                            <select id="team" name="team" class="input-xlarge">
                              <option>CP</option>
                              <option>SP</option>
                              <option>RP</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="control-group">
                          <label class="control-label" for="competency">Competency</label>
                          <div class="controls">
                            <select id="competency" name="competency" class="input-xlarge">
                              <option>PS, DSA and Coding</option>
                              <option>Architecture</option>
                              <option>System Design</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="control-group">
                          <label class="control-label" for="level">Level</label>
                          <div class="controls">
                            <select id="level" name="level" class="input-xlarge">
                              <option>Option one</option>
                              <option>Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="control-group">
                          <label class="control-label" for="date">Date</label>
                          <div class="controls">
                            <select id="date" name="date" class="input-xlarge">
                              <option>Option one</option>
                              <option>Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="control-group">
                          <label class="control-label" for="currentstatus">Current Status</label>
                          <div class="controls">
                            <select id="currentstatus" name="currentstatus" class="input-xlarge">
                              <option>Option one</option>
                              <option>Option two</option>
                            </select>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="control-group">
                          <label class="control-label" for="generateReport"></label>
                          <div class="controls">
                            <button id="generateReport" name="generateReport" class="btn btn-primary">Generate Report</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
