<template name="teamInfo">
  <h4>Team Competencies Detail</h4>
  <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Competency</th>
                <th>Current Status</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>PS, DSA and Coding</td>
                <td>Shadow 1</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peter</td>
                <td>Product Sense</td>
                <td>Approval Pending</td>
                <td><button name="approve" class="btn btn-primary btn-approve">Approve</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>John</td>
                <td>HM Round</td>
                <td>Reverse Shadow1</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</template>
